<span ng-controller="detailViewController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
          <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">PLAYER</div>
    </ons-toolbar>
  
    <ons-row style="margin-top: 100px; text-align: center;">
      <ons-col>
         <ons-button ng-click="audioCtrls.playToggle()">
          Play/Pause
        </ons-button><br>
        {{currentSong.name}} <br>
        {{currentSong.path}} <br>
        {{mediaPos}} <br>
        {{mediaStatus}}
      </ons-col>
    </ons-row>
</span>