<span ng-controller="homeViewController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Page 2</div>
  </ons-toolbar>

  <ons-row style="margin: 10px 0; text-align: center;">
    <ons-col>
      <ons-button ng-click="navToView('detailView')">
        Go to Player
      </ons-button>
    </ons-col>
    <ons-col>
      <ons-button ng-click="cacheData()">
        Search & Load Data
      </ons-button>
    </ons-col>
  </ons-row>
  <input type="search" class="search-input" ng-model="search_phrase">
  <ons-list style="width: 100%;word-wrap: break-word;">
    <ons-list-header>Song List of {{dataLoadStatus}}</ons-list-header>
    <ons-scroller>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
      <ons-list-item>Moosa Kuttan</ons-list-item>
    </ons-scroller>
</ons-list>
</span>