<ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent"></ons-toolbar>

    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
            <ons-icon icon="fa-plus"></ons-icon>
            New Post
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Bookmark
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
            <ons-icon icon="fa-twitter"></ons-icon>
            Official Twitter
        </ons-list-item>
    </ons-list>

    <br>

    
</ons-page>